*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    
}
html::-webkit-scrollbar{
    display:none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    padding:10px;
    gap: 20px;
    position: fixed;
    z-index: 2;
    box-shadow: 4px 4px 12px 0px;
}
.name h1{
    font-family: 'Tazkia', sans-serif;
    font-size: 65px;
}
.navigation ul{
    display:flex;
    width: 100vw;
    justify-content: space-evenly;
}
.navigation ul li{
    list-style: none;
   
}
.navigation ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Shut Down', sans-serif;
    font-size: 2rem;
}



@media only screen and (max-width: 1500px) {

    .header{
        position: sticky;
    }
    .navigation ul li a{
        text-decoration: none;
        color: black;
        font-family: 'Shut Down', sans-serif;
        font-size: 1.5rem;
    }
    
    #gallery {
        display:flex;
        flex-wrap: wrap;
    }
    #col {
        width: 50%;
    }
    #col-2{
        width: 50%;
    }
    .tile{
        padding: 4px;
        vertical-align: middle;
       
    }
    .tile > img {
        width: 100%; 
        border-radius: 1vmax;
    }
    
}

@media only screen and (min-width: 1500px) {

   
    #gallery {
        height: 140vh;
        width: 140vw;
        position: absolute;
    }

    .tile {
        border-radius: 1vmax;
        position: absolute;
        box-shadow: 8px 8px 8px;
        transition: transform 800ms ease;
    
    }
    
    .tile:hover {
        transform: scale(1.1);
    }
    
    .tile:hover > img { 
        transform: scale(1.01);
    }
    
    .tile > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: opacity 800ms ease,
        transform 800ms ease;
        
    }

    .tile:nth-child(1) {
        background-color: rgb(255, 238, 88);
        height: 14%;
        width: 20%;
        left: 15%;
        top: 20%;
    }

    .tile:nth-child(2) {
        background-color: rgb(66, 165, 245);
        height: 24%;
        width: 14%;
        left: 42%;
        top: 22%;
    }
    
    .tile:nth-child(3) {
        background-color: rgb(239, 83, 80);
        height: 18%;
        width: 16%;
        left: 18%;
        top: 43%;
    }
    
    .tile:nth-child(4) {
        background-color: rgb(102, 187, 106);
        height: 14%;
        width: 12%;
        left: 39%;
        top: 50%;
    }
    
    .tile:nth-child(5) {
        background-color: rgb(171, 71, 188);
        height: 16%;
        width: 32%;
        left: 8%;
        top: 70%;
    }
    
    #col-2 .tile:nth-child(1) {
        background-color: rgb(255, 167, 38);
        height: 24%;
        width: 24%;
        left: 68%;
        top: 24%;
    }
    
    #col-2 .tile:nth-child(2) {
        background-color: rgb(63, 81, 181);
        height: 16%;
        width: 20%;
        left: 44%;
        top: 74%;
    }
    
    #col-2 .tile:nth-child(3) {
        background-color: rgb(141, 110, 99);
        height: 24%;
        width: 18%;
        left: 72%;
        top: 56%;
    }
    
    #col-2 .tile:nth-child(4) {
        background-color: rgb(250, 250, 250);
        height: 10%;
        width: 8%;
        left: 74%;
        top: 84%;
    }
    #col-2 .tile:nth-child(5) {
        background-color: rgb(250, 250, 250);
        height: 20%;
        width: 15%;
        left: 55%;
        top: 50%;
    }

}

