*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    
}

html.sr .load-hidden {
    visibility: hidden;
}

html::-webkit-scrollbar{
    display:none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(235, 235, 235);
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    padding:10px;
    gap: 20px;
    position: sticky;
    z-index: 2;
    box-shadow: 4px 4px 12px 0px;
}
.name h1{
    font-family: 'Tazkia', sans-serif;
    font-size: 65px;
}
.navigation ul{
    display:flex;
    width: 100vw;
    justify-content: space-evenly;
}
.navigation ul li{
    list-style: none;
   
}
.navigation ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Shut Down', sans-serif;
    font-size: 2rem;
}
#shop{
    padding-top: 5vh;
    display:flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    padding-bottom: 5vh;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Shut Down', sans-serif;
    font-size: x-large;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 80%;
    height: auto;
    gap: 20px;
}
.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.product img{
    max-height: 70vh;
    max-width: 80vw;
    border-radius: 20px;
    border-style: none;
    box-shadow: 4px 4px 4px;
    object-fit: scale-down;
    
}
.product button{
    border-radius: 100%;
    border-style: none;
    background-color: rgb(59 130 246 / 50%);
    padding: 10px;
    cursor: pointer;
    filter: opacity(.8);
}
.product button:hover{
    filter: opacity(1);
}

.product-wrapper{
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 12px 1px;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    height: 20%;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-price{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.product-price p{
    font-family: "Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif;
    color: #414552;
    font-size: 30px;
}
.product-price button{
    font-family: 'Shut Down', sans-serif;
    font-weight: bold;
    font-size: large;
    width: 100px;
    height: 40px;
    background-color: rgb(59 130 246 / 50%);
    border-radius: 20px;
    border-style: none;
    box-shadow: 4px 4px 4px;
    cursor: pointer;
}

button:hover{
    animation: scale .3s ease-in forwards;
}

@keyframes scale {
    from{     
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


@media only screen and (max-width: 1500px) {

    .navigation ul li a{
        font-size: 1.5rem;
    }

    .product{
        font-size: large;
    }
    .img-wrapper {
        height: 60%;
    }
    

    .product-wrapper{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        text-align: center;
    }
    
}
